/* 基本のリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ボディ */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: #ffffff;
  color: #333;
  padding: 0 10px;
}

/* メインコンテンツ */
.main-content {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1200px;
}

.main-news {
  flex: 0 0 70%;
  padding-right: 20px;
}


.main-news h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.main-news article {
  background-color: rgb(236, 236, 236);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.main-news article:hover {
  transform: translateY(-5px);
}

.main-news article h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #007bff;
}

.main-news article p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.main-news article a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-news article a:hover {
  color: #ffdd57;
}

/* サイドバー */
.sidebar {
  flex: 0 0 25%;
}

.sidebar h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  color: #007bff;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #ffdd57;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .main-news, .sidebar {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-bottom: 10px;
  }
}
